<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sorteador de grupos</title>
</head>
<body>
    <h1>Sorteador de grupos</h1>
    <form action="/sorteio" method="post">
        <label>Nomes:</label>
            <input type="text" id="nomes" name="nomes" required>
            <br>
        <label>Quantidade de Grupos:</label>
            <input type="number" id="num_grupos" name="num_grupos" required>
            <br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
