<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Meu formulário HTML</title>
    </head>
    <body>
        <h2>Minha página de cadastro</h2>
        <form action="/cadastro" method="post">
        <label>Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <br>
        <label>Telefone:</label>
    <input type="text" id="telefone" name="telefone" required>
    <br>
    <label>Cidade:</label>
    <input type="text" id="cidade" name="cidade" required>
    <br>
    <input type="submit" value="Enviar">
    </form>
    </body>
    </html>